<div class="simple-login-container">
  <h2>Login Form</h2>
  <form [formGroup]="loginForm" #ngForm="ngForm" (ngSubmit)="loginForm.status ==='VALID' && login()">
    <div class="row">
      <div class="col-md-12 form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          formControlName="username"
          required
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <input
          type="password"
          placeholder="Password"
          class="form-control"
          formControlName="password"
          required
        />
      </div>
      <div *ngIf="loginForm.submitted
          && !loginForm.password.valid">Password is required</div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-block btn-login" type="submit">Login</button>
      </div>
    </div>
  </form>
</div>
